/* Increase the font size of the <h1> element */
   p {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    color: rgb(52, 41, 41);
    background-color: #f78c8c7b;
   }
   .title {
    padding: 50px; /* some padding */
    text-align: center; /* center the text */
    background-color: #ffd2d29d;
    color: Onyx;
    font-size: 381%;
    margin: 30x;
   }
   
   .topnav {
     background-color: #574141;
     overflow: hidden;
     padding: 1.7%;
     border-radius: 12px;
     text-align: center;
     font-size: 181%;
     border: #fccfcf;
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: center;
     display: inline;
     color: #f6dede;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 51%;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #f9e0e0;
     color: #423131;
     width: 100%;
     max-width: 900px;
     margin: 50px;
   }
   
   /* Hide the link that should open and close the topnav on small screens */
   .topnav .icon {
     display: none;
   }

   body {
    background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNTEtYWRqLWJhY2tncm91bmQtMDdfMS5qcGc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }

   html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
  }

  a {
    text-decoration: none;

  }

  .circle {
    border-radius: 50%;
    width: 19%;
  }

  .quote {
    font-size: 51%;
    text-align: justify;
    background-image: radial-gradient(#ff95a7, rgb(255, 226, 226));
    float: right;
    width: 12%;
    margin: 3.1%;
    margin: 5%;
    padding: 4%;
    border-radius: 59%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.367),0 0 40px rgba(0,0,0,0.1),0 0 60px rgba(0,0,0,0.1),0 0 80px rgba(0,0,0,0.1);

  }


  #pic {
    margin: 3.1%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1),0 0 40px rgba(0,0,0,0.1),0 0 60px rgba(0,0,0,0.1),0 0 80px rgba(0,0,0,0.1);

  }

  .bfly {
    width: 31%;
    float: right;

  }

  .dark-mode {
    background-image: url("https://wallpapercrafter.com/desktop/14420-starry-sky-stars-shine-night-trees-starry-night-4k.jpg");
    background-color: black;
    color: white;
  }
